php:
	date.timezone: Europe/Prague

parameters:
	skautis:
		appId: 'a3d42171-84fb-4f27-8ad6-d98c92a95c47' # Zadejte vaše přidělené AppID
		isTest: true # Pro vývoj na test-is.skaut.cz nechte true
		debugRoles: false # Zapnout/vypnout Tracy barDump a logování načtených rolí
	baseUrl: 'http://localhost:8000'
	cron:
		token: 'zmente_v_local_neon'
	voting:
		minDurationHoursDefault: 48
	security:
		encryptionKey: 'skaut_hlasovaci_portal_default_secret_key_v1'

application:
	errorPresenter: Error

session:
	expiration: 14 days
	autoStart: true
	cookieHttponly: true
	cookieSecure: auto
	cookieSamesite: None

database:
	dsn: 'mysql:host=db;dbname=hlasovaciportal;charset=utf8mb4'
	user: 'hlasovani'
	password: 'hlasovani_pass'

includes:
	- services.neon
